app-root {
    display: flex;
    justify-content: center;
}

mat-card {
    text-align: center;
    width: 40%;
}

mat-card-content {
    font-size: 45px;
}

#easter{
    height: 20px;
}

#image {
    display: none;
    height: 300px;
    width: 450px;
}

#container {
    display: flex;
    justify-content: center;
}
